*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body{
    font-family: 'Arial', sans-serif;
    background-color: #222;
    color: white
}

a{
    color: white;
    text-decoration: none;
    
    padding: 10px 20px; 
    
    border-radius: 5px;
    display: inline-block;
}

a:hover{
    background-color: #3498db; /* Tło zmienia się na białe */
    color: #000000;
}

main{
    display:flex;
    flex-direction: row;
}
footer{
    text-align: center;
}

article{
    font-size: 22px;
    width: 80%;
    padding: 40px;
    text-align: center;
}


