html{
    scroll-behavior: smooth;
}
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', serif;;
    background-color: #222;
    color: white;

    display: flex;
    flex-direction: column;
    min-height: 100vh; 
    overflow-x: hidden;
   
}

.main-header {
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: #111; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: #3498db; 
}




.menu-icon{
    display: none;
    font-size: 30px;
    cursor: pointer;
}


.main-header ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style: none;
}

.main-header li{
    padding: 5px 10px;
}



a{
    color: white;
    text-decoration: none;
    
    padding: 10px 20px; 
    
    border-radius: 5px;
    display: inline-block;
}

a:hover{
    background-color: #3498db; 
    color: #000000;
}

#menu-toggle {
  display: none;
}

main{
    flex: 1;
    display:flex;
    flex-direction: column;
    height: 100%;
}


footer {
    background-color: #111;
    color: white;
    padding: 30px 20px;
    font-size: 20px;
}

.footer-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

.kontakt h3 {
    margin-bottom: 10px;
}

.kontakt p {
    margin: 5px 0;
}

.map iframe {
    border-radius: 10px;
}

.autor{
    text-align: center;
    margin-top: 30px;
}

@media (max-width: 768px){

    .main-header {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 60px;
        padding: 10px 20px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    /* logo zostaje widoczne */
    .logo {
        display: block;
        font-size: 18px;
    }

    /* menu idzie na dół */
    .menu {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 60px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        background: #111;
        margin: 0;
    }

    .menu li {
        list-style: none;
    }

    .menu a {
        font-size: 12px;
        padding: 5px;
    }

    body {
        padding-top: 60px;
        padding-bottom: 70px;
    }

    .footer-content{
        flex-direction: column;
        text-align: center;
    }

    .map iframe{
        width: 100%;
        max-width: 350px;
    }
}