.hero{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #333;
    min-height: 70vh;
    width: 100%;
}

.hero h1{
    font-size: 32px;
    text-shadow: 2px 4px 10px rgba(0, 0, 0, 0.5);
}
article{
    
    align-items: center;
    flex-direction: column;
    font-size: 22px;
    padding: 0 40px 0 40px;
   
    max-width: 45%;
    
    
}

.board{
    width: 400px;
    border-radius: 15px;
    box-shadow: 0 0 30px #3498db;
    margin: 60px;
}

.features{
    width: 100vw;
    background-color: #222;
}

.features h2{
    text-align: center;
    padding-top: 30px;
    font-size: 40px;
}
.parent-box{
    padding:15px 0 15px 0;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.box{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #111;
    width: 400px;
    margin: 30px;
    padding:15px;
    font-size: 24px;
    border-radius: 15px;
    text-align: center;
    height: 200px;
    border: 2px solid #3498db;
    
}

.box h3{
    padding-bottom: 10px;
    color: #3498db;
    font-weight: bold;
    font-size: 28px;
    
}

.box:hover{
    transform: translateY(-5px);
    box-shadow: 0 15px 30px #3498db;
    
}

@media (max-width: 1024px){

    .hero{
        flex-direction: column;
        text-align: center;
        padding: 30px;
    }

    article{
        max-width: 90%;
        padding: 20px;
    }

    .board{
        width: 70%;
        margin: 20px;
    }

    .parent-box{
        flex-wrap: wrap;
        justify-content: center;
    }

    .box{
        width: 45%;
    }
}